# Add directories or file patterns to ignore during indexing (e.g. foo/ or *.csv)
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.so
*.egg
*.egg-info/
*.eggs/
dist/
build/
venv/
.venv/
**/venv/**
**/.venv/**
**/__pycache__/**
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.DS_Store
visualizations/
*.log
data/
.vscode/
logs/
